<div class="w-100 navbar">
  <div class="row w-100">
    <div class="col-2">
      <div class="tuclase" style="font-size: 25px; margin-left: 13px;line-height: 45px;">
        APICAT
      </div>
    </div>
    <div class="col-10">
      <div class="w-100 d-flex justify-content-end">
        <a href="/cats/form" class="btn btn-success mt-2 mx-1">Crear Gato</a>
        <a href="/" class="btn btn-primary mt-2 mx-2">Home</a>
      </div>
    </div>
  </div>
</div>
<app-cats [cats]="cats" [texto]="texto"></app-cats>
