<div class="container">
  <h1 class="text-center mt-5 tuclase">Bienvenido a <br/>APICATS</h1>
  <div class="row mt-5">
    <div class="col-10 col-md-6 rowContainer">
      <a href="/cats" class="hover">
        <div class="w-100 text-center">
          <img src="../../../../assets/Images/gatos.jpg" alt="gatito" height="260px">
          <div class="titulos">
            <span>GATOS</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-10 col-md-6 rowContainer">
      <a href="/images" class="hover">
      <div class="w-100 text-center">
          <img src="../../../../assets/Images/camara.jpg" alt="camara" height="260px">
          <div class="titulos">
            <span>IMAGENES</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
